{% extends "_base.html" %}
{% load static %}


{% block content %}
{% include "navbar.html" %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center px-3">Popular Courses</h6>
            <h1 class="mb-5" style="color: #fb873f;">Explore new and trending free online courses</h1>
        </div>
        <div class="row g-4 py-2">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">

                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1"><a href="single.html" class="text-dark">HTML Course for Beginners</a> </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.55</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>5.8L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Front End Development-CSS
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.55</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>5.2L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Introduction to JavaScript
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.46</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>76L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-4.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Python Programming
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            3.54</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>3.3L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-5.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">SQL for Data Science
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-star text-warning me-2"></i>
                            4.54</small>
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-user-graduate me-2"></i>1.3L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-1"><i
                                class="fa fa-user me-2"></i>Intermediate</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-6.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">ChatGPT for Beginners
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            3.55</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>3.5L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-7.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">AWS for Beginners
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.53</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>1L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-8.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Microsoft Azure Essentials
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-star text-warning me-2"></i>
                            4.64</small>
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-user-graduate me-2"></i>4.4L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-1"><i
                                class="fa fa-user me-2"></i>Intermediate</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-9.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Introduction to MS Excel</h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.6</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>4.2L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-10.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Statistics For Data Science
                           
                            
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-star text-warning me-2"></i>
                            4.55</small>
                        <small class="flex-fill text-center py-1 px-1"><i class="fa fa-user-graduate me-2"></i>5.3L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-1"><i
                                class="fa fa-user me-2"></i>Intermediate</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-11.jpg' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">Java Programming
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.45</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>5L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item shadow">
                    <div class="position-relative overflow-hidden text-light image">
                        <img class="img-fluid" src="{% static 'img/course-12.png' %}" alt="">
                    </div>
                    <div class="p-2 pb-0">

                        <h5 class="mb-1">C for Beginners
                        </h5>
                    </div>
                    <div class="d-flex">
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-star text-warning me-2"></i>
                            4.5</small>
                        <small class="flex-fill text-center py-1 px-2"><i class="fa fa-user-graduate me-2"></i>1.1L+
                            Learners
                        </small>
                        <small class="flex-fill text-center py-1 px-2"><i
                                class="fa fa-user me-2"></i>Beginner</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
    